.panda-card{
    border: 0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}

.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
}
.products img{
    height: 85px;
    width: 90px;
}
.product{
    border-radius: 1em !important;
}